
/*Body*/

.cedarville-cursive-regular {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 700;
    font-style: normal;
}

h2 {
    text-align: center;
}

/*Nav*/

.navbar ul{
    list-style-type: none;
    background-color: rgb(88, 88, 88);
    padding: 0px;
    margin: 0px;
}

.navbar a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px;
}

.navbar a:hover{
    background-color: rgb(39, 39, 39);
    padding: 15px;
}

.navbar li {
    font-size: larger;
    margin-bottom: 15px;
}

/*Main Content*/

.maincontainer {
    display: grid;
    grid-template-columns: 1fr 1fr ; 
    grid-gap: 5px; 
    margin-top: 50px;
    margin-bottom: 50px;
}


.boxA {
    padding-left: 180px;
    padding-right: 75px;
    grid-column: 1/2;
}


.boxB {
   
    grid-column: 2/3;
}


.boxBimg {
    border: 3px solid rgb(39, 39, 39);
    box-shadow: 1px 1px 1px 1px rgb(39, 39, 39);
    border-radius: 35px;
}

.para {

    color: rgb(97, 97, 97); 
      
}




  /*Footer*/
  .footer {
    grid-column: 1 / -1; 
    color: white;
    text-align: center;
    background-color: rgb(88, 88, 88);
    padding: 25px;
    margin-top: 35px;
}

.footer a{
    color: black;
}

.footer a:hover{
    color:#00d9ff
}

/*Contact */
.container {
    
    width: 41%;
    background-color: rgb(136, 136, 136);
    margin: 0 auto;
    margin-top: 50px;
    
}

.submit {
    text-align: center;
    padding: 12px;
    background-color: rgb(226, 226, 226);
    border-radius: 7px;
    margin-top: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}


.submitcontainer {
    text-align: center;
    
}

input[type="text"],
input[type="email"],
textarea {
  background-color: rgb(226, 226, 226);  
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(58, 58, 58);
  
}

/*Thanks*/

.thankscontainer {
    text-align: center;
    width: 41%;
    background-color: rgb(136, 136, 136);
    margin: 0 auto;
    margin-top: 50px;
    padding: 25px;
}

/*Table*/


    table {
    text-align: center;
    width: 41%;
    background-color: rgb(136, 136, 136);
    margin: 0 auto;
    margin-top: 50px;
    padding: 25px;
    border-collapse: collapse;
        
    }

    th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    }

    tr:hover {
    background-color: #f5f5f5;
    }

    .moderate {
    background-color: #bec55f; 
    }

    .some {
    background-color: #ffc107;
    }

    .very-little {
    background-color: #dc3545; 
    }

    .high {
        background-color: #28a745;
    }