
/*Body*/

.cedarville-cursive-regular {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 700;
    font-style: normal;
}



/*Nav*/

.navbar ul{
    list-style-type: none;
    background-color: rgb(88, 88, 88);
    padding: 0px;
    margin: 0px;
}

.navbar a{
    color: white;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.navbar a:hover{
    background-color: rgb(39, 39, 39);
}

.navbar li {
    font-size: larger;
    margin-bottom: 35px;
}

/*Main Content*/

.maincontainer {
    display: grid;
    grid-template-columns: 1fr 1fr ; 
    grid-gap: 5px; 
}


.boxA {
    padding-left: 180px;
    padding-right: 75px;
    grid-column: 1/2;
}


.boxB {
   
    grid-column: 2/3;
}


.boxBimg {
    box-shadow: 1px 1px 1px 1px rgb(39, 39, 39);
    border-radius: 35px;
}

.para {

    color: rgb(97, 97, 97); 
      
}




  /*Footer*/
  .footer {
    grid-column: 1 / -1; 
    color: white;
    text-align: center;
    background-color: rgb(88, 88, 88);
    padding: 25px;
    margin-top: 35px;
}

.footer a{
    color: black;
}

.footer a:hover{
    color:#00d9ff
}